@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Raleway:ital,wght@0,100;0,300;0,800;1,100;1,300;1,800&display=swap");
.general__boton, .general__footer .whatsapp, .index__container .hero {
  display: flex;
  justify-content: center;
  align-items: center; }

.index__container .somos div:nth-child(2) .somos--text {
  display: flex;
  flex-direction: column; }

.general__footer .address .address--data {
  display: flex;
  flex-direction: row; }

.index__container .product div:nth-child(2) div:nth-child(2), .index__container .services div:nth-child(2) div:nth-child(2) {
  display: flex;
  justify-content: flex-start; }

.index__container .somos div:nth-child(1), .index__container .product div:nth-child(2) div:nth-child(1), .index__container .services div:nth-child(2) div:nth-child(1) {
  display: flex;
  justify-content: flex-end; }

.index__container .somos div:nth-child(1), .index__container .product div:nth-child(2) div:nth-child(1), .index__container .services div:nth-child(2) div:nth-child(1) {
  transform: rotate3d(0, 1, 0, 30deg); }

.index__container .product div:nth-child(2) div:nth-child(2), .index__container .services div:nth-child(2) div:nth-child(2) {
  transform: rotate3d(0, 1, 0, -30deg); }

/**! CARD */
.card {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #111111; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s; }

.front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px; }

.front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.front h2 {
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #f0f0f0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center; }

.back {
  transform: perspective(600px) rotateY(180deg);
  background-image: url(../img/pattern.jpg);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000; }

.back h3 {
  color: #f74d9c;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #111111; }

.back div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.back div p {
  color: #f0f0f0;
  font-size: 1.2em; }

.product__container .catalogue, .services__container .services__cards .cards__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/**! MOBILE */
.index__container .somos div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(2) img, .index__container .services div:nth-child(2) div:nth-child(1) img, .index__container .services div:nth-child(2) div:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 10px; }

.index__container .product div:nth-child(1) h2, .index__container .services div:nth-child(1) h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bold; }

.index__container .somos div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(2) img, .index__container .services div:nth-child(2) div:nth-child(1) img, .index__container .services div:nth-child(2) div:nth-child(2) img {
  box-shadow: 6px 6px 9px 2px black;
  -webkit-box-shadow: 6px 6px 9px 2px black;
  -moz-box-shadow: 6px 6px 9px 2px black; }

* {
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

span {
  color: #f694c1; }

body {
  color: #f0f0f0;
  font-family: 'Raleway', sans-serif; }

main {
  grid-area: main; }

/**! TARJETAS */
.card {
  margin: 10px; }
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg); }

/**! BOTON */
.general__boton {
  width: 100%;
  padding-top: 30px; }
  .general__boton .boton {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid rgba(100, 100, 100, 0.1);
    padding: 5px;
    border-radius: 8px 30px 8px 30px;
    cursor: pointer;
    color: #f0f0f0;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #faafd2, #FF4990, #FAAFD2); }
    .general__boton .boton:hover {
      background-position: right;
      color: #111111;
      border-radius: 30px 8px 30px 8px; }

/**! FORM */
.contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  padding: 30px 0px 30px 0px; }
  .contact__form div {
    width: 320px;
    background-color: #f0f0f0;
    border-radius: 10px; }
    .contact__form div form {
      padding-left: 10px; }
      .contact__form div form h1 {
        color: #f694c1;
        font-size: 2em;
        font-weight: 600; }
      .contact__form div form p {
        color: #111111;
        padding-right: 10px; }
      .contact__form div form fieldset {
        padding: 0px 10px 10px 0px; }
        .contact__form div form fieldset input {
          border: none;
          width: 100%;
          background-color: #f0f0f0; }
          .contact__form div form fieldset input:focus-visible {
            outline: none; }
      .contact__form div form select {
        background-color: #f0f0f0;
        padding: 5px; }
        .contact__form div form select:focus-visible {
          outline: none; }
      .contact__form div form textarea {
        background-color: #f0f0f0;
        margin-top: 10px;
        border: none;
        resize: none;
        height: 150px;
        width: 100%; }
        .contact__form div form textarea:focus-visible {
          outline: none; }
      .contact__form div form div {
        width: 100%;
        padding: 0px 10px 10px 0px; }
        .contact__form div form div button {
          background-color: #f694c1;
          width: 100%;
          border: none;
          padding: 5px;
          font-weight: bold;
          color: #f0f0f0;
          border-radius: 10px; }
          .contact__form div form div button:hover {
            background-color: #c54681; }

/**! FOOTER */
.general__footer {
  margin-top: 15px; }
  .general__footer .whatsapp a {
    text-decoration: none;
    color: #f0f0f0; }
    .general__footer .whatsapp a img {
      margin: 0px 10px 10px 0px;
      width: 32px; }
  .general__footer .menu {
    display: none; }
  .general__footer .about {
    display: none; }
  .general__footer .address {
    display: none; }
  .general__footer .gmap {
    padding-top: 30px; }

/**! COPY & FIXED */
.general__copy {
  grid-area: copy;
  text-align: center; }

.fixed {
  position: fixed;
  left: 1%;
  bottom: 3%; }

header {
  z-index: 1;
  grid-area: header; }
  header .bg-light {
    background-color: #050505 !important; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url(../img/navBar.png); }
  header .navbar-light .navbar-brand {
    color: #f694c1;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    font-weight: bold; }
  header .navbar-light .navbar-brand:hover {
    color: #f694c1; }
  header .collapse {
    display: flex;
    justify-content: flex-end; }
  header .navbar-light .navbar-nav .nav-link.active,
  header .navbar-light .navbar-nav .show .nav-link {
    color: #f0f0f0;
    font-size: 1.2em; }
  header .navbar-light .navbar-nav .nav-link {
    color: #f694c1; }
  header .navbar-light .navbar-nav .nav-link {
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: bold; }
  header .navbar-light .navbar-nav .nav-link:hover {
    color: #f694c1; }

/**! Mobile */
.fixed {
  display: none; }

/**! INDEX */
.index__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh auto auto 3vh;
  grid-template-areas: "header" "main" "footer" "copy";
  background-color: #111111; }
  .index__container .hero {
    height: calc(100vh - 106px);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../img/webMain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .index__container .hero h1 {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center; }
  .index__container .somos {
    width: 100%;
    height: auto;
    padding: 15px;
    perspective: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .index__container .somos div:nth-child(1) {
      padding-right: 5px;
      width: 100%; }
    .index__container .somos div:nth-child(2) {
      width: 100%;
      padding-left: 5px; }
      .index__container .somos div:nth-child(2) .somos--text h2 {
        text-align: center;
        font-size: 1.15em;
        font-weight: bold; }
      .index__container .somos div:nth-child(2) .somos--text p {
        text-align: center;
        font-size: 1em; }
  .index__container .product {
    width: 100%;
    height: auto;
    padding: 15px; }
    .index__container .product div:nth-child(2) {
      display: flex;
      justify-content: space-around;
      align-items: none;
      flex-direction: row;
      perspective: 600px; }
      .index__container .product div:nth-child(2) div:nth-child(1) {
        width: 45%; }
      .index__container .product div:nth-child(2) div:nth-child(2) {
        width: 45%; }
  .index__container .services {
    padding: 15px; }
    .index__container .services div:nth-child(1) h3 {
      text-align: center;
      margin-bottom: 20px; }
    .index__container .services div:nth-child(2) {
      display: flex;
      justify-content: space-around;
      align-items: none;
      flex-direction: row;
      perspective: 600px; }
      .index__container .services div:nth-child(2) div:nth-child(1) {
        width: 45%; }
      .index__container .services div:nth-child(2) div:nth-child(2) {
        width: 45%; }
  .index__container .redes {
    width: 100%;
    height: auto; }
    .index__container .redes div:nth-child(1) h2 {
      font-size: 1.5em;
      text-align: center; }
    .index__container .redes div:nth-child(2) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row; }
      .index__container .redes div:nth-child(2) a img {
        width: 64px; }

/**! ABOUT */
.about__container {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh auto auto 3vh;
  grid-template-areas: "header" "main" "footer" "copy";
  background-color: #111111; }
  .about__container .history {
    padding: 15px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%), url(../img/webMain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .about__container .history h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 3em;
      text-align: center; }

/**! CONTACT*/
.contact__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh auto auto 3vh;
  grid-template-areas: "header" "main" "footer" "copy";
  background-color: #111111; }
  .contact__container .contact__form {
    height: calc(100vh - 367px); }

/**! PRODUCT */
.product__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh auto auto 3vh;
  grid-template-areas: "header" "main" "footer" "copy";
  background-color: #111111; }
  .product__container .nuestros__productos h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
    padding: 15px 0px 30px 0px; }
  .product__container .catalogue {
    padding: 15px;
    color: #111111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }

/** SERVICES */
.services__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh auto auto 3vh;
  grid-template-areas: "header" "main" "footer" "copy";
  background-color: #111111; }
  .services__container .nuestros__servicios {
    padding: 15px; }
    .services__container .nuestros__servicios div h1 {
      color: #f0f0f0;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      padding-top: 15px; }
    .services__container .nuestros__servicios div h3 {
      color: #f0f0f0;
      font-size: 1.2em; }
  .services__container .services__cards {
    color: #111111;
    padding: 15px; }
    .services__container .services__cards .cards__container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      .services__container .services__cards .cards__container .card .back h3 {
        color: #f74d9c;
        font-weight: bold;
        font-size: 2em; }

.general__footer {
  grid-area: footer;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }
  .general__footer .menu {
    border: 1px solid #f694c1;
    border-radius: 10px;
    padding: 5px;
    order: -1;
    width: 200px;
    height: 200px; }
    .general__footer .menu div:nth-child(1) h2 {
      font-size: 1em;
      padding-left: 10px; }
    .general__footer .menu div:nth-child(2) ul {
      padding: 15px 0px 0px 5px; }
      .general__footer .menu div:nth-child(2) ul li {
        padding-bottom: 10px; }
        .general__footer .menu div:nth-child(2) ul li a {
          text-decoration: none;
          color: #f0f0f0;
          font-size: 0.9em; }
          .general__footer .menu div:nth-child(2) ul li a:hover {
            color: #f694c1; }
  .general__footer .address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    padding: 5px; }
    .general__footer .address div:nth-child(1) h2 {
      font-size: 1em; }
    .general__footer .address .address--data div:nth-child(2) p {
      font-size: 0.9em; }
  .general__footer .gmap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none;
    padding-top: 10px; }
    .general__footer .gmap iframe {
      border-radius: 10px; }

.general__boton, .general__footer .whatsapp, .index__container .hero {
  display: flex;
  justify-content: center;
  align-items: center; }

.index__container .somos div:nth-child(2) .somos--text {
  display: flex;
  flex-direction: column; }

.general__footer .address .address--data {
  display: flex;
  flex-direction: row; }

.index__container .product div:nth-child(2) div:nth-child(2), .index__container .services div:nth-child(2) div:nth-child(2) {
  display: flex;
  justify-content: flex-start; }

.index__container .somos div:nth-child(1), .index__container .product div:nth-child(2) div:nth-child(1), .index__container .services div:nth-child(2) div:nth-child(1) {
  display: flex;
  justify-content: flex-end; }

.index__container .somos div:nth-child(1), .index__container .product div:nth-child(2) div:nth-child(1), .index__container .services div:nth-child(2) div:nth-child(1) {
  transform: rotate3d(0, 1, 0, 30deg); }

.index__container .product div:nth-child(2) div:nth-child(2), .index__container .services div:nth-child(2) div:nth-child(2) {
  transform: rotate3d(0, 1, 0, -30deg); }

/**! CARD */
.card {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #111111; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s; }

.front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px; }

.front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.front h2 {
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #f0f0f0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center; }

.back {
  transform: perspective(600px) rotateY(180deg);
  background-image: url(../img/pattern.jpg);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000; }

.back h3 {
  color: #f74d9c;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #111111; }

.back div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.back div p {
  color: #f0f0f0;
  font-size: 1.2em; }

.product__container .catalogue, .services__container .services__cards .cards__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/**! MOBILE */
.index__container .somos div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(2) img, .index__container .services div:nth-child(2) div:nth-child(1) img, .index__container .services div:nth-child(2) div:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 10px; }

.index__container .product div:nth-child(1) h2, .index__container .services div:nth-child(1) h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bold; }

.index__container .somos div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(1) img, .index__container .product div:nth-child(2) div:nth-child(2) img, .index__container .services div:nth-child(2) div:nth-child(1) img, .index__container .services div:nth-child(2) div:nth-child(2) img {
  box-shadow: 6px 6px 9px 2px black;
  -webkit-box-shadow: 6px 6px 9px 2px black;
  -moz-box-shadow: 6px 6px 9px 2px black; }

@media screen and (min-width: 480px) {
  /**! INDEX */
  .index__container .somos {
    padding: 40px; }
    .index__container .somos div:nth-child(2) .somos--text h2 {
      font-size: 1.5em; }
  .index__container .product {
    padding: 23px; }
    .index__container .product div:nth-child(1) h2 {
      font-size: 2.5em; }
    .index__container .product div:nth-child(1) p {
      font-size: 1.2em; }
  .index__container .services {
    padding: 23px; }
    .index__container .services div:nth-child(1) h2 {
      font-size: 2.5em; }
    .index__container .services div:nth-child(1) h3 {
      font-size: 1.5em; }
    .index__container .services div:nth-child(1) p {
      font-size: 1.2em; } }

/**! ABOUT */
.about__container .history h1 {
  font-size: 4.5em; }

.about__container .history div p {
  font-size: 1.2em; }

/**! PRODUCT */
.product__container .nuestros__productos h1 {
  color: #f0f0f0;
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px 30px 0px; }

/**! SERVICES */
.services__container .nuestros__servicios {
  padding: 15px; }
  .services__container .nuestros__servicios div h1 {
    color: #f0f0f0;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    padding-top: 15px; }
  .services__container .nuestros__servicios div h3 {
    color: #f0f0f0;
    font-size: 1.2em; }

@media screen and (min-width: 720px) {
  /** GENERAL */
  .general__footer .whatsapp {
    display: none; }
  .general__footer .menu {
    display: flex; }
  .general__footer .gmap {
    padding: 0; }
  .fixed {
    display: flex; } }

/**! INDEX */
.index__container .hero h1 {
  font-size: 4em; }

.index__container .somos div:nth-child(1) img {
  width: 80%; }

.index__container .somos div:nth-child(2) .somos--text h2 {
  font-size: 2em; }

.index__container .somos div:nth-child(2) .somos--text p {
  font-size: 1.2em; }

.index__container .product div:nth-child(1) h2 {
  font-size: 3.5em; }

.index__container .product div:nth-child(1) p {
  padding-bottom: 15px; }

.index__container .product div:nth-child(2) div:nth-child(1) img {
  width: 80%; }

.index__container .product div:nth-child(2) div:nth-child(2) img {
  width: 80%; }

.index__container .services div:nth-child(1) h2 {
  font-size: 3.5em; }

.index__container .services div:nth-child(1) h3 {
  font-size: 1.7em; }

.index__container .services div:nth-child(1) p {
  padding-bottom: 15px; }

.index__container .services div:nth-child(2) div:nth-child(1) img {
  width: 80%; }

.index__container .services div:nth-child(2) div:nth-child(2) img {
  width: 80%; }

/** CONTACT */
.contact__container .contact__form {
  height: calc(100vh - 357px); }

/** PRODUCT */
.product__container .nuestros__productos h1 {
  font-size: 3.5em;
  padding-bottom: 42px; }

/** SERVICES */
.nuestros__servicios div:nth-child(1) h1 {
  font-size: 3.5em; }

@media screen and (min-width: 1280px) {
  /**! GENERAL */
  .general__footer .address {
    display: flex; }
  /**! INDEX */
  .index__container .hero h1 {
    font-size: 4em; }
  .index__container .somos div:nth-child(1) img {
    width: 70%; }
  .index__container .somos div:nth-child(2) .somos--text h2 {
    font-size: 2.5em; }
  .index__container .product div:nth-child(2) div:nth-child(1) img {
    width: 70%; }
  .index__container .product div:nth-child(2) div:nth-child(2) img {
    width: 70%; }
  .index__container .services div:nth-child(2) div:nth-child(1) img {
    width: 70%; }
  .index__container .services div:nth-child(2) div:nth-child(2) img {
    width: 70%; } }

@media screen and (min-width: 1600px) {
  /**! INDEX */
  .index__container .hero h1 {
    font-size: 4em; }
  .index__container .somos div:nth-child(1) img {
    width: 60%; }
  .index__container .somos div:nth-child(2) .somos--text h2 {
    font-size: 2.5em; }
  .index__container .product div:nth-child(2) div:nth-child(1) img {
    width: 60%; }
  .index__container .product div:nth-child(2) div:nth-child(2) img {
    width: 60%; }
  .index__container .services div:nth-child(2) div:nth-child(1) img {
    width: 60%; }
  .index__container .services div:nth-child(2) div:nth-child(2) img {
    width: 60%; }
  /**! ABOUT */
  .about__container .history {
    height: calc(100vh - 371px);
    padding: 30px 100px; }
  /**! CONTACT */
  .contact__container .contact__form {
    height: calc(100vh - 371px); }
  /**! PRODUCT */
  .product__container main {
    height: calc(100vh - 371px); }
  /**! SERVICES */
  .services__container main {
    height: calc(100vh - 371px); } }
