.general__footer{
    grid-area: footer;
    padding: 0px 10px 0px 10px;
    @include flex(flex, space-evenly, center, row);
    flex-wrap: wrap;
    .menu{
        border: 1px solid $color-rosita;
        border-radius: 10px;
        padding: 5px;
        order: -1;
        width: 200px;
        height: 200px;
        div:nth-child(1){
            h2{
                font-size: 1em;
                padding-left: 10px;
            }
        }
        div:nth-child(2){
            ul{
                padding: 15px 0px 0px 5px;
                li{
                    padding-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: $color-letras;
                        font-size: 0.9em;
                        &:hover{
                            color: $color-rosita;
                        }
                    }
                }
            }
        }
    }
    .address{
        @include flex(flex, center, center, column);
        height: 200px;
        padding: 5px;
        div:nth-child(1){
            h2{
                font-size: 1em;
            }
        }
        .address--data{
            @extend %flex-row;
            div:nth-child(2){
                p{
                    font-size: 0.9em;
                }
            }
        }
    }
    .gmap{
        @include flex(flex, center, center, none);
        padding-top: 10px;
        iframe{
            border-radius: 10px;
        }
    }
}