header{
    grid-area: header;
    .bg-light {
        background-color: rgb(5, 5, 5) !important;
    }
    
    .navbar-light .navbar-toggler-icon{
        background-image: url(../img/navBar.png);
    }

    .navbar-light .navbar-brand {
        color: $color-rosita;
        font-family: 'Dancing Script', cursive;
        font-size: 4em;
        font-weight: bold;
    }
    
    .navbar-light .navbar-brand:hover {
        color: $color-rosita;
    }
    
    .collapse {
        display: flex;
        justify-content: flex-end;
    }
    
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show .nav-link {
        color: $color-letras;
        font-size: 1.2em;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: $color-rosita;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: $color-letras;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: $color-rosita;
    }
}