/**! Mobile */

.general__footer{
    div:nth-child(3){
        display: none;
    }
}

.fixed{
    display: none;
}

/**! INDEX */ 

.index__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas:
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    .hero{
        height: calc(100vh - 106px);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../img/webMain.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @extend %flex;
        h1{
            font-size: 2.5em;
            font-weight: bold;
            text-align: center;
        }
    }
    .somos{
        width: 100%;
        height: auto;
        padding: 15px;
        perspective: 600px;
        @include flex(flex, space-between, center, row);
        div:nth-child(1){
            padding-right: 5px;
            width: 100%;
            @extend %rotate-izq;
            
            img{
                @extend %img-index;
                @extend %shadow;
            }
        }
        div:nth-child(2){
            width: 100%;
            padding-left: 5px;
            .somos--text{
                h2{
                    text-align: center;
                    font-size: 1.15em;
                    font-weight: bold;
                }
                p{
                    text-align: center;
                    font-size: 1em;
                }
            }
        }
    }
    .product{
        width: 100%;
        height: auto;
        padding: 15px;
        div:nth-child(1){
            h2{
                @extend %h2-font;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-around, none, row);
            perspective: 600px;
            div:nth-child(1){
                width: 45%;
                @extend %rotate-izq;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
            div:nth-child(2){
                width: 45%;
                @extend %rotate-der;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
        }
    }
    .services{
        padding: 15px;
        div:nth-child(1){
            h2{
                @extend %h2-font;
            }
            h3{
                text-align: center;
                margin-bottom: 20px;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-around, none, row);
            perspective: 600px;
            div:nth-child(1){
                width: 45%;
                @extend %rotate-izq;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
            div:nth-child(2){
                width: 45%;
                @extend %rotate-der;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
        }
    }
    .redes{
        width: 100%;
        height: auto;
        div:nth-child(1){
            h2{
                font-size: 1.5em;
                text-align: center;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-evenly, center, row);
            a{
                img{
                    width: 64px;
                }
            }
        }
    }
}

/**! ABOUT */

.about__container{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    .history{
        padding: 15px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%), url(../img/webMain.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            font-family: 'Dancing Script', cursive;
            font-size: 3em;
            text-align: center;
        }
    }
}

/**! CONTACT*/

.contact__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .contact__data{
            .contactInfo{
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: $color-oscuro;
                min-height: 500px;
                padding-right: 10px;
                .box{
                    position: relative;
                    padding: 20px 0;
                    display: flex;
                    cursor: pointer;
                    &:hover{
                        .icon{
                            background-color: $color-rosita;
                            color: $color-letras;
                        }
                    }
                    .icon{
                        min-width: 60px;
                        height: 60px;
                        border-radius: 10px;
                        color: $color-oscuro;
                        background-color: $color-letras;
                        @extend %flex;
                        font-size: 1.75em;
                        transition: 0.5s;
                        a{
                            @extend %flex;
                            text-decoration: none;
                            color: $color-oscuro;
                        }
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                        font-size: 1.1em;
                        color: $color-letras;
                        font-weight: 300;
                        h3{
                            font-weight: 500;
                            color: $color-rosita;
                        }
                    }
                }
                .txt{
                    color: $color-letras;
                    margin-top: 50px;
                    font-weight: 500;
                    font-size: 1.5em;
                    padding-left: 10px;
                    border-left: 50px solid $color-rositabg;
                    line-height: 1em;
                }
                .sci{
                    position: relative;
                    display: flex;
                    gap: 30px;
                    margin: 20px 0;
                    li{
                        list-style: none;
                        a{
                            color: $color-letras;
                            font-size: 2em;
                            transition: 0.5s;
                            &:hover{
                                color: $color-rosita;
                            }
                        }
                    }
                }
            }
        }
        .contact__form{
            @include flex (flex, center, center, none);
            padding: 30px 0px 30px 0px;
            div{
                width: 320px;
                background-color: $color-letras;
                border-radius: 10px;
                form{
                    padding-left: 10px;
                    h1{
                        color: $color-rosita;
                        font-size: 2em;
                        font-weight: 600;
                    }
                    p{
                        color: $color-oscuro;
                        padding-right: 10px;
                    }
                    fieldset{
                        padding: 0px 10px 10px 0px;
                        input{
                            border: none;
                            width: 100%;
                            background-color: $color-letras;
                            border-bottom: 2px solid $color-rosita;
                            &:focus-visible{
                                outline: none;
                            }
                        }
                    }
                    select{
                        background-color: $color-letras;
                        padding: 5px;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    textarea{
                        background-color: $color-letras;
                        margin-top: 10px;
                        border: none;
                        resize: none;
                        height: 150px;
                        width: 100%;
                        border: 2px solid $color-rosita;
                        border-top: 0;
                        border-left: 0;
                        border-radius: 0px 0px 10px 0px;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    div{
                        width: 100%;
                        padding: 0px 10px 10px 0px;
                        button{
                            background-color: $color-rosita;
                            width: 100%;
                            border: none;
                            padding: 5px;
                            font-weight: bold;
                            color: $color-letras;
                            border-radius: 10px;
                            &:hover{
                                background-color: rgb(197, 70, 129);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

/**! PRODUCT */

.product__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    .nuestros__productos{
        h1{
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            color: $color-letras;
            padding: 15px 0px 30px 0px;
        }
    }
    .catalogue{
        padding: 15px;
        color: $color-oscuro;
        @include flex(flex, space-evenly, center, column);
    }
}

/** SERVICES */

.services__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    .nuestros__servicios{
        padding: 15px;
        div{
            h1{
                color: $color-letras;
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                padding-top: 15px;
            }
            h3{
                color: $color-letras;
                font-size: 1.2em;
            }
        }
    }
    .services__cards{
        color: $color-oscuro;
        padding: 15px;
        .cards__container{
            width: 100%;
            @include flex(flex, space-evenly, center, column);
            .card{
                .back{
                    h3{
                        color: $color-rositabg;
                        font-weight: bold;
                        font-size: 2em;
                    }
                }
            }
        }
    }
}
