/**! Mobile */

.fixed{
    display: none;
}

.general__footer{
    .address{
        display: none;
    }

    .about{
        display: none;
    }
}

/**! INDEX */ 

.index__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto auto 3vh;
    grid-template-areas:
    "header"
    "main"
    "footer"
    "copy"
    ;
    background-color: $color-oscuro;
    .hero{
        height: calc(100vh - 106px);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../img/webMain.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @extend %flex;
        h1{
            font-size: 2.5em;
            font-weight: bold;
            text-align: center;
        }
    }
    .somos{
        width: 100%;
        height: auto;
        padding: 15px;
        @include flex(flex, space-between, center, row);
        div:nth-child(1){
            padding-right: 5px;
            width: 100%;
            img{
                @extend %img-index;
                @extend %shadow;
            }
        }
        div:nth-child(2){
            width: 100%;
            padding-left: 5px;
            .somos--text{
                h2{
                    text-align: center;
                    font-size: 1.15em;
                    font-weight: bold;
                }
                p{
                    text-align: center;
                    font-size: 1em;
                }
            }
        }
    }
    .product{
        width: 100%;
        height: auto;
        padding: 15px;
        div:nth-child(1){
            h2{
                @extend %h2-font;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-around, none, row);
            div:nth-child(1){
                width: 45%;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
            div:nth-child(2){
                width: 45%;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
        }
    }
    .services{
        padding: 15px;
        div:nth-child(1){
            h2{
                @extend %h2-font;
            }
            h3{
                text-align: center;
                margin-bottom: 20px;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-around, none, row);
            div:nth-child(1){
                width: 45%;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
            div:nth-child(2){
                width: 45%;
                img{
                    @extend %img-index;
                    @extend %shadow;
                }
            }
        }
    }
    .redes{
        width: 100%;
        height: auto;
        div:nth-child(1){
            h2{
                font-size: 1.5em;
                text-align: center;
            }
        }
        div:nth-child(2){
            @include flex(flex, space-evenly, center, row);
            a{
                img{
                    width: 64px;
                }
            }
        }
    }
    .general__footer{
        margin-top: 30px;
        .whatsapp{
            @extend %flex;
            a{
                text-decoration: none;
                color: $color-letras;
                img{
                    margin-right: 10px;
                    width: 32px;
                }
            }
        }
        .contact{
            display: none;
        }
        .address{
            display: none;
        }
        .gmap{
            padding-top: 30px;
        }
    }
}

